# Testing stuff, don't push
__pycache__
dummy
post_output/*
geojson_output/*
recom_input/*
recom_output/*
venv

# Ignore config file
db_config.env

# Dummy file, for local fetching
*.districting

# Profiler output
*.log